<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Currency Converter</title>
<link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="container">
    <h1>Currency Converter</h1>
    <form id="currency-form" action="/" method="POST">
        <label for="amount">Amount:</label>
        <input type="number" id="amount" name="amount" required>

        <label for="source_currency">Source Currency:</label>
        {% include 'source_currency.html' %}

        <label for="target_currency">Target Currency:</label>
        {% include 'target_currency.html' %}

        <button type="submit">Convert</button>
    </form>
    <div id="result">
        {% if converted_amount %}
            <p>Converted Amount: {{ converted_amount }}</p>
        {% elif error %}
            <p>Error: {{ error }}</p>
        {% endif %}
    </div>
</div>

<script src="../static/js/script.js"></script>
</body>
</html>
